<script>
	// Testing adoffer
	//if (document.referrer.includes("adoffer")) {
	if (window.location.href.includes('click_id')) {
		const TrackerDomain='dev.afoffer.com'
		const url = new URL(window.location.href);
		const params = new URLSearchParams(url.search);
		const clickId = params.get('click_id');
		const callbackURL = `https:\/\/${TrackerDomain}/conv?click_id=${clickId}&action=lead`;
		console.log(`callbakcURL=${callbackURL}`);
		fetch(callbackURL).then(result=>{
			console.log(`All good`);
		}).catch(err=>{
			console.log(`Error: ${err.message}`);
		})
	}
</script>