
<hr>
<p class="text-black dark:text-white text-2xl font-bold">{{ printf "Counters" | i18n "Counters" }}</p>
<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
		
	<!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
	target="_blank"><img id="licnt2240" width="88" height="31" style="border:0" 
	title="LiveInternet: показано число просмотров и посетителей за 24 часа"
	src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
	alt=""/></a><script>(function(d,s){d.getElementById("licnt2240").src=
	"https://counter.yadro.ru/hit?t52.6;r"+escape(d.referrer)+
	((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
	(s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
	";h"+escape(d.title.substring(0,150))+";"+Math.random()})
	(document,screen)</script><!--/LiveInternet-->

	<!-- Default Statcounter code for ScienceChroicle https://sciencechronicle.org
-->
<script type="text/javascript">
	var sc_project=12959554; 
	var sc_invisible=0; 
	var sc_security="f7a76217"; 
	var scJsHost = "https://";
	document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="Web Analytics"
	href="https://statcounter.com/" target="_blank"><img class="statcounter"
	src="https://c.statcounter.com/12959554/0/f7a76217/0/" alt="Web Analytics"
	referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
	<!-- End of Statcounter Code -->
		
</div>


