	<!-- Meta Pixel Code -->
	<script>
		function getCookie(name) {
      let value = "; " + document.cookie;
      let parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
  
    // Function to append fbp value to URL as query parameter
    function appendFBPToURL(fbpValue) {
      let url = new URL(window.location.href);
      url.searchParams.set('fbp', fbpValue);
      window.history.replaceState({}, '', url);
    }
  
    // Ensure the pixel script is loaded and then execute the logic
    window.fbAsyncInit = function() {
      fbq('init', '1452354582086900', {
          autoConfig: true, 
          config: {
              firstPartyCookies: true
          }
      });
      fbq('track', 'PageView'); // Ensure the event call is made
  
      // Wait a bit to ensure the cookie is set
      setTimeout(function() {
        let fbpCookieValue = getCookie('_fbp');
        if (fbpCookieValue) {
          appendFBPToURL(fbpCookieValue);
        } else {
          console.log("fbp cookie not found.");
        }
      }, 1000); // 1 second delay to ensure the cookie is set
    };
	</script>
	<!-- End Meta Pixel Code -->